input {
  http {
    port => 8080
    type => "healthcheck"
  }

  gelf {
     port => 12201
     type => gelf
     codec => "json"
  }

  syslog {
    type => syslog
    port => 25826

    codec => multiline {
      pattern => "^<%{POSINT}>%{SYSLOGTIMESTAMP} %{SYSLOGHOST}\[%{POSINT}\]: %{TIMESTAMP_ISO8601}"
      negate => true
      what => previous
    }
  }
}

output {
  elasticsearch {
      hosts => "elasticsearch"
      ssl => "false"
    }
  stdout {
    codec => rubydebug
  }
}