input {
    http {
        port => 8080
        type => "healthcheck"
    }

    gelf {
        port => 12201
        type => docker
    }

    syslog {
        type => syslog
        port => 25826
        codec => multiline {
            pattern => "^<%{POSINT}>%{SYSLOGTIMESTAMP} %{SYSLOGHOST}\[%{POSINT}\]: %{TIMESTAMP_ISO8601}"
            negate => true
            what => previous
        }
    }
}

filter {
    if [type] == "technical" {
            # processing .......
    }
}

output {
    elasticsearch {
        hosts => "elasticsearch"
        ssl => "false"
        user => "logstash_system"
        password => "changeme"
    }

    stdout {
        codec => rubydebug
    }
}