input {
    http {
        port => 8080
        type => "healthcheck"
    }

    gelf {
        port => 12201
        type => docker
    }
}

filter {
    if [type] == "docker" {
        grok {
            match => [
                "message",
                "\[%{NOTSPACE} %{NOTSPACE}\] local.INFO: Microservice %{NOTSPACE}: %{NOTSPACE} %{NOTSPACE} %{NOTSPACE} finished in: %{NUMBER:load_time:float} ms"
            ]
        }
        grok {
            match => [
                "message",
                "\[%{NOTSPACE}\] Command %{WORD:application.command.status}: %{GREEDYDATA:application.command.name}"
            ]
        }
        grok {
            match => [
                "container_name",
                "%{WORD:docker.container.name}"
            ]
        }
    }
}

output {
    elasticsearch {
        hosts => "elasticsearch"
        ssl => "false"
        user => "logstash_system"
        password => "changeme"
    }

    stdout {
        codec => rubydebug
    }
}